body {
    margin: 0;
    padding: 16px;
    display: grid;
    grid-template-columns: 130px auto auto auto 130px;
    grid-template-rows: 50px 80px auto 50px;
    grid-template-areas: 
        "header header header header logout"
        "title title title title title"
        "question question question question ."
        "footer footer footer footer footer"
    ;
    grid-gap: 8px;
}

.logout-button {
    grid-area: logout;
    text-align: center;
    height: fit-content;
    padding: 12px;
    background: darkslategray;
    color: turquoise;
    font-weight: 600;
    font-size: 1.35em;
    letter-spacing: 0.05em;
    cursor: pointer;
    border-radius: 4px;
}

header {
    grid-area: header;
}

.creation-buttons {
    display: inline-block;
    width: fit-content;
    margin: 0 4px;
    padding: 12px;
    background: darkslategray;
    color: turquoise;
    font-weight: 600;
    font-size: 1.35em;
    letter-spacing: 0.05em;
    cursor: pointer;
    border-radius: 4px;
}

.creation-buttons:first-child {
    margin-left: 0;
}

h1 {
    grid-area: title;
}

#question-title {
    grid-area: question;
    width: 100%;
}

.question {
    display: block;
    height: fit-content;
    margin: 15px 0;
}

.collapsible {
    display: contents;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    line-height: 24px;
    font-weight: 600;
    font-size: 1.40em;
    letter-spacing: 0.05em;
}

ol {
    margin: 12px 0 0 120px;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    line-height: 24px;
    font-weight: 600;
    font-size: 1.40em;
    letter-spacing: 0.05em;
}

.delete-button {
    display: inline-block;
    width: 106px;
    margin-right: 10px;
    padding: 12px;
    text-align: center;
    background: darkslategray;
    color: turquoise;
    cursor: pointer;
    border-radius: 4px;
    line-height: 24px;
    font-weight: 600;
    font-size: 1.40em;
    letter-spacing: 0.05em;
}

.buttonList {
  position: fixed;
  right: 20px;
  bottom: 20px;
  margin:-5px 0;
}

.buttonList>a {
  position: relative;
  display: block;
  margin: 5px 0;
  width: 50px;
  height: 50px;
  right: 0px;
  bottom: 0px;
  background: darkslategrey;
  border-radius: 50%;
  -webkit-transition: .3s ease-out; transition: .3s ease-out;
  z-index: 2;
}
  
.buttonList>a>i {
  display: inline-block;
  width: 100%;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  color: turquoise;
}
    
.buttonList>a:hover {
  bottom: 5px;
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}