{% extends 'main.html' %}
{% block title %}
    <title>
        Home
    </title>
{% endblock %}

{% block content %}
    <h1>Experiments</h1>

    <div>

        <a href="{% url 'create-experiment' %}">Create experiment</a>
        <hr>

        <div>
            {% for experiment in experiments %}
                <div>
                    <a href="{% url 'delete-experiment' experiment.id %}">Delete</a>
                    <a href="{% url 'experiment' experiment.id %}">{{experiment.title}}</a>
                </div>
                <hr>
            {% endfor %}
        </div>

    </div>

    <footer id="footerWrap">
        <div class="buttonList">
            <a href="{% url 'create-experiment' %}" class="createExperiment">Create experiment</a>
            <a href="#top" class="pagetop">toTop</a>
        </div>
    </footer>
{% endblock %}