{% extends 'main.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'base/home.css' %}"/>
{% endblock %}

{% block title %}
    <title>
        Home
    </title>
{% endblock %}

{% block content %}
    <a class="logout-button" href="{% url 'logout' %}">Logout</a>
    <header>
        <a class="creation-buttons" href="{% url 'create-experiment' %}">Create experiment</a>
        <a class="creation-buttons" href="{% url 'create-question' %}">Create question</a>
        <a class="creation-buttons" href="{% url 'create-watch' %}">Create watch</a>
    </header>
    <h1>Experiments</h1>
    <div id="experiment-delete">
        {% for experiment in experiments %}
        <a class="experiment" id="delete-button" href="{% url 'delete-experiment' experiment.id %}">Delete</a>
        {% endfor %}
    </div>
    <div id="experiment-title">
    {% for experiment in experiments %}
        <a class="experiment" href="{% url 'experiment' experiment.id %}">{{experiment.title}}</a>
    {% endfor %}
    </div>
    <nav class="buttonList">
        <a href="{% url 'create-experiment' %}"><i class="fa fa-book fa-2x" aria-hidden="true"></i></a>
        <a href="{% url 'create-question' %}"><i class="fa fa-question fa-2x" aria-hidden="true"></i></a>
        <a href="{% url 'create-watch' %}"><i class="fa fa-clock-o fa-2x" aria-hidden="true"></i></a>
        <a href="#top"><i class="fa fa-angle-up fa-2x" aria-hidden="true"></i></a>
    </nav>
{% endblock %}