{% extends 'main.html' %}

{% block title %}
    <title>
        Welcome to our TSE - Smartwatch-Cloud System
    </title>
{% endblock %}

{% block content %}
    <h1> Please login</h1>

    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter username"><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter password"><br><br>
            <input type="submit" value="Login">
          </form>
    </div>
{% endblock %}