<div>
    <h1>Database</h1>
    <table border="1">
        <caption>Heritage</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Age</th>
            </tr>
        </thead>
    </table>
    <br>
    <table border="1">
        <caption>city_info</caption>
        <thead>
            <tr>
                <th>city</th>
                <th>postal_code</th>
                <th>number_of_inhabitants</th>
            </tr>
        </thead>
    </table>
</div>
