body {
    margin: 0;
    padding: 8px;
    display: grid;
    grid-template-columns: 100px auto 480px auto 100px;
    grid-template-rows: 50px 250px auto 50px;
    grid-template-areas: 
        ". . . . ."
        ". . main . ."
        ". . . . ."
        ". . . . ."
    ;
}

form {
    grid-area: main;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto 48.5px;
    grid-template-areas: 
        "header header"
        "text text"
        "back submit"
    ;
    grid-gap: 5px;
    background: #222222;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(0,0,0,9) 
}

a, input {
    height: fit-content;
    background: #333333;
    border: none;
    outline: none;
    padding: 15px 10px;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 500;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
}

h2 {
    grid-area: header;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: turquoise;
    text-transform: uppercase;
}

.text {
    grid-area: text;
    height: fit-content;
    text-align: center;
}

.back {
    grid-area: back;
}

#submit {
    grid-area: submit;
    background: #612929;
}