<div style="display: inline-block; margin-right: 20px;">
    <h1>Database</h1>
    <table border="1">
        <caption>Heritage</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Age</th>
            </tr>
        </thead>
    </table>
</div>

<div style="display: inline-block; margin-right: 20px;">
    <h1>&nbsp;</h1> <!-- Platzhalter, um die Höhen der Container auszugleichen -->
    <table border="1">
        <caption>city_info</caption>
        <thead>
            <tr>
                <th>City</th>
                <th>Postal Code</th>
                <th>Number of Inhabitants</th>
            </tr>
        </thead>
    </table>
</div>

<div style="display: inline-block; margin-right: 20px;">
    <h1>&nbsp;</h1> <!-- Platzhalter, um die Höhen der Container auszugleichen -->
    <table border="1">
        <caption>city_info</caption>
        <thead>
            <tr>
                <th>City</th>
                <th>Postal Code</th>
                <th>Number of Inhabitants</th>
            </tr>
        </thead>
    </table>
</div>

<div style="clear: both;"></div>

<div style="display: inline-block; margin-right: 20px;">
    <h1>&nbsp;</h1> <!-- Platzhalter, um die Höhen der Container auszugleichen -->
    <table border="1">
        <caption>city_info</caption>
        <thead>
            <tr>
                <th>City</th>
                <th>Postal Code</th>
                <th>Number of Inhabitants</th>
            </tr>
        </thead>
    </table>
</div>

<div style="display: inline-block; margin-right: 20px;">
    <h1>&nbsp;</h1> <!-- Platzhalter, um die Höhen der Container auszugleichen -->
    <table border="1">
        <caption>city_info</caption>
        <thead>
            <tr>
                <th>City</th>
                <th>Postal Code</th>
                <th>Number of Inhabitants</th>
            </tr>
        </thead>
    </table>
</div>
