<style>
    .styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }

    .styled-table tbody tr.active-row {
        font-weight: bold;
        color: #009879;
    }

</style>

<div style="display: inline-block; margin-right: 20px;">
    <h1>Database</h1>
    <table  class="styled-table">
        <caption>Heritage</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Age</th>
            </tr>
        </thead>
    </table>
</div>

<div style="display: inline-block; margin-right: 20px;">
    <h1>&nbsp;</h1> <!-- Platzhalter, um die Höhen der Container auszugleichen -->
    <table " class="styled-table">
        <caption>city_info</caption>
        <thead>
            <tr>
                <th>City</th>
                <th>Postal Code</th>
                <th>Number of Inhabitants</th>
            </tr>
        </thead>
    </table>
</div>

<div style="display: inline-block; margin-right: 20px;">
    <h1>&nbsp;</h1> <!-- Platzhalter, um die Höhen der Container auszugleichen -->
    <table  class="styled-table">
        <caption>city_info</caption>
        <thead>
            <tr>
                <th>City</th>
                <th>Postal Code</th>
                <th>Number of Inhabitants</th>
            </tr>
        </thead>
    </table>
</div>

<div style="clear: both;"></div>

<div style="display: inline-block; margin-right: 20px;">
    <h1>&nbsp;</h1> <!-- Platzhalter, um die Höhen der Container auszugleichen -->
    <table  class="styled-table">
        <caption>city_info</caption>
        <thead>
            <tr>
                <th>City</th>
                <th>Postal Code</th>
                <th>Number of Inhabitants</th>
            </tr>
        </thead>
    </table>
</div>

<div style="display: inline-block; margin-right: 20px;">
    <h1>&nbsp;</h1> <!-- Platzhalter, um die Höhen der Container auszugleichen -->
    <table  class="styled-table">
        <caption>city_info</caption>
        <thead>
            <tr>
                <th>City</th>
                <th>Postal Code</th>
                <th>Number of Inhabitants</th>
            </tr>
        </thead>
    </table>
</div>
