{% extends 'main.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'sql_lab/input.css' %}"/>
{% endblock %}

{% block title %}
    <title>
        SQL Laboratory
    </title>
{% endblock %}

{% block content %}
    <a class="logout-button" href="{% url 'logout' %}">Logout</a>
    <header>
        <a class="creation-buttons" href="{% url 'experiments' %}">Experiments</a>
        <a class="creation-buttons" href="{% url 'questions' %}">Questions</a>
        <a class="creation-buttons" href="{% url 'watches' %}">Watches</a>
        <a class="creation-buttons" href="{% url 'sql_lab' %}">SQL Laboratory</a>
    </header>
    <h2>SQL Laboratory</h2>
    <main>
        <div class="database-table">
            {% include 'sql_lab/database.html' %}
        </div>
        <form method="post" action="{% url 'sql_lab' %}">
            <h3>SQL-request</h3>
            {% csrf_token %}
            {{ form.content }}
            <input id="submit" type="submit" value="Translate"/>
        </form>
    </main>
{% endblock %}
