::placeholder {
    color: #888888;
    opacity: 1;
}

::-ms-input-placeholder {
    color: #888888;
}

body {
    margin: 0;
    padding: 8px;
    display: grid;
    grid-template-columns: 100px auto 480px auto 100px;
    grid-template-rows: 50px auto 50px;
    grid-template-areas: 
        ". . . . quit"
        ". . main . ."
        ". . . . ."
    ;
}

#quit {
    grid-area: quit;
    text-align: center;
    height: fit-content;
    padding: 12px;
    background: darkslategray;
    color: turquoise;
    font-weight: 600;
    font-size: 1.35em;
    letter-spacing: 0.05em;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
}

.creationForm {
    grid-area: main;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "form"
        "footer"
    ;
}

h2 {
    grid-area: header;
    height: fit-content;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: turquoise;
    text-transform: uppercase;
}

.formElements {
    grid-area: form;
}

input, select {
    margin: 10px 0;
    width: 100%;
    background: #333333;
    border: none;
    outline: none;
    padding: 20px 10px;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 500;
    font-size: 1em;
}

ul {
    margin: 0 0 10px;
    color: #888888;
}

#submit {
    grid-area: footer;
    height: fit-content;
    padding: 10px;
    background: darkslategray;
    color: turquoise;
    font-weight: 600;
    font-size: 1.35em;
    letter-spacing: 0.05em;
    cursor: pointer;
}

#submit:active {
    opacity: 0.6;
}