::placeholder {
    color: #888888;
    opacity: 1;
}

::-ms-input-placeholder {
    color: #888888;
}

body {
    margin: 0;
    padding: 16px;
    display: grid;
    grid-template-columns: 100px auto 480px auto 100px;
    grid-template-rows: 50px auto 50px;
    grid-template-areas: 
        ". . .  header header"
        ". . main . . "
        ". . . . . "
    ;
}

header {
    grid-area: header;
    justify-self: end;
}

.header-button {
    display: inline-block;
    width: fit-content;
    margin: 0 4px;
    padding: 12px;
    background: darkslategray;
    color: turquoise;
    font-weight: 600;
    font-size: 1.35em;
    letter-spacing: 0.05em;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
}

#experimentBody {
    grid-area: main;
    margin: 10px 0;
    width: 100%;
    background: #333333;
    border: none;
    outline: none;
    padding: 25px 10px 7.5px;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 500;
    font-size: 1em;
    box-shadow: 0 15px 35px rgba(0,0,0,9); 
    align-self: center;
    justify-self: center;
}

.creationForm {
    grid-area: main;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "form"
        "footer"
    ;
}

h2 {
    grid-area: header;
    height: fit-content;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: turquoise;
    text-transform: uppercase;
}

.formElements {
    grid-area: form;
}

td {
    width: 160px;
    text-align: center;
}

.multipleSelect {
    display: block;
    margin: 10px 0;
    padding: 20px 10px;
    height: 80px;
    border-radius: 4px;
    background: #333333;
    color: #ffffff;
    overflow: scroll;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 1em;
}

.multipleSelect::-webkit-scrollbar {
    display: none;
}

.multipleSelect {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.headline {
    color: #888888;
    text-transform: capitalize;
}

hr {
    border: solid 1px #888888;
}

input {
    margin: 10px 0;
    width: 100%;
    background: #333333;
    border: none;
    outline: none;
    padding: 20px 10px;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 500;
    font-size: 1em;
}

input[type="checkbox"] {
    margin: 0;
    height: 20px;
    accent-color: turquoise;
}

#id_questions>div {
    height: 20px;
    margin: 10px 0;
}

#id_questions>div:first-child {
    margin-top: 0;
}

#id_questions>div:last-child {
    margin-bottom: 0;
}

#id_questions>div>label>input{
    width: 30px;
    vertical-align: middle;
}

#id_watch_id>div {
    height: 20px;
    margin: 10px 0;
}

#id_watch_id>div:first-child {
    margin-top: 0;
}

#id_watch_id>div:last-child {
    margin-bottom: 0;
}

#id_watch_id>div>label>input{
    width: 30px;
    vertical-align: middle;
}

#submit {
    grid-area: footer;
    height: fit-content;
    padding: 10px;
    background: darkslategray;
    color: turquoise;
    font-weight: 600;
    font-size: 1.35em;
    letter-spacing: 0.05em;
    cursor: pointer;
}

#submit:active {
    opacity: 0.6;
}