
main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

header>a {
  float: right;
  width: fit-content;
  text-decoration: none;
  padding: 12px;
  background: darkslategray;
  color: turquoise;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
  border-radius: 4px;
}

.login {
    position: absolute;
    width: 400px;
    background: #222;  
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(0,0,0,9) 
}

.login .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.login .content h2 {
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: turquoise;
  text-transform: uppercase;
}

.login .content form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.login .content form .inputBox {
  position: relative;
  width: 100%;
}

.login .content form .inputBox input {
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}

.login  .content form .inputBox input[type="submit"] {
  padding: 10px;
  background: darkslategray;
  color: turquoise;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}

input[type="submit"]:active {
  opacity: 0.6;
}

.createExperimentForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
  
.createExperimentForm>Form>p>input {
  background: #333;
  color: white;
  font-size: 1.35em;
  border-radius: 4px;
     
}
  
.createExperimentForm>Form>p>label {
    font-size: 1.35em;
}
  
.createExperimentForm>Form>p>input[type=checkbox] {
    transform: scale(1.5);
    accent-color: #333;
}

.createExperimentForm>Form>input[type="submit"] {
  padding: 10px;
  background: darkslategray;
  color: turquoise;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

select option {
  margin: 60px;
}


.createExperiment {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
  
.experimentList>div>a:first-child, .createExperiment>a  {
    position: relative;
    width: fit-content;
    text-decoration: none;
    padding: 12px;
    background: darkslategray;
    color: turquoise;
    font-weight: 600;
    font-size: 1.35em;
    letter-spacing: 0.05em;
    cursor: pointer;
    border-radius: 4px;
}
  
.experimentList>div>a  {
    text-decoration: none;
    padding: 12px;
    font-weight: 600;
    font-size: 1.50em;
    letter-spacing: 0.05em;
}

.experimentList {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.buttonList {
	position: fixed;
    right: 20px;
    bottom: 20px;
}

.buttonList>a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    right: 0px;
    bottom: 0px;
    background: darkslategrey;
    border-radius: 50%;
    text-indent: -9999em;
    -webkit-transition: .3s ease-out; transition: .3s ease-out;
    z-index: 2;
}

.pagetop::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 5px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-top: 2px solid turquoise;
    border-right: 2px solid turquoise;
    -webkit-transform: rotate(-45deg); transform: rotate(-45deg);
}

.createExperimentButton::after {
    content: "";
    position: absolute;
    background-color: turquoise;
    margin-top: -1px;
    height: 2px;
    top: 50%;
    left: 15px;
    right: 15px;
}
    
.createExperimentButton::before {
    content: "";
    position: absolute;
    background-color: turquoise;
    width: 2px;
    margin-left: -1px;
    left: 50%;
    top: 15px;
    bottom: 15px;
}
    
.buttonList>a:hover {
    bottom: 5px;
}
 