{% extends 'main.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'base/question/create_question.css' %}"/>
{% endblock %}

{% block title %}
    <title>
        Create Question
    </title>
{% endblock %}

{% block content %}
    <a id="quit" href="{% url 'questions' %}">quit</a>
    <form class="creationForm" method="POST" action="" >
        <h2>Create Question</h2>
        <div class="formElements">
            {% csrf_token %}
            {{ questionForm.question }}
            {{ answer1Form.answer }}
            {{ answer2Form.answer }}
            {{ answer3Form.answer }}
            {{ answer4Form.answer }}
        </div>
        <input id="submit" type="submit" value="Submit"/>
    </form>
{% endblock %}