{% extends 'main.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'base/question/delete_question.css' %}"/>
{% endblock %}

{% block title %}
    <title>
        Delete Question
    </title>
{% endblock %}

{% block content %}
    <form method="POST" action="" >
        <h2>Delete Question</h2>
        {% csrf_token %}
        <div class="text">
            <p>Are you sure that you want to delete</p>
            <p>"{{question.question}}"</p>
        </div>
                
        <a class="back" href="{{request.META.HTTP_REFERER}}">Go back</a>
        <input id="submit" type="submit" value="Confirm"/>
    </form>
{% endblock %}