{% extends 'main.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'base/question/questions.css' %}"/>
{% endblock %}

{% block title %}
    <title>
        Questions
    </title>
{% endblock %}

{% block content %}
    <a class="logout-button" href="{% url 'logout' %}">Logout</a>
    <header>
        <a class="creation-buttons" href="{% url 'home' %}">Experiments</a>
        <a class="creation-buttons" href="{% url 'questions' %}">Questions</a>
        <a class="creation-buttons" href="{% url 'watches' %}">Watches</a>
    </header>
    <h1>Questions</h1>
    <div id="question-delete">
    </div>
    <div id="question-title">
        {% for question in questions %}
        <div class="question">
            <a class="delete-button" href="{% url 'delete-question' question.id %}">Delete</a>
            <button type="button" class="collapsible"><i class="fa fa-angle-down" aria-hidden="true"></i>  {{ question.question }}</button>
            <div class="content">
                <ol type="1">
                    {% if question.button1 %}
                        <li>{{ question.button1_text }}</li>
                    {% endif %}
                    {% if question.button2 %}
                        <li>{{ question.button2_text }}</li>
                    {% endif %}
                    {% if question.button3 %}
                        <li>{{ question.button3_text }}</li>
                    {% endif %}
                    {% if question.button4 %}
                        <li>{{ question.button4_text }}</li>
                    {% endif %}
                </ol>
            </div>
        </div>
    {% endfor %}
    </div>
    <nav class="buttonList">
        <a href="{% url 'create-question' %}"><i class="fa fa-plus fa-2x" aria-hidden="true"></i></a>
        <a href="#top"><i class="fa fa-angle-up fa-2x" aria-hidden="true"></i></a>
    </nav>
{% endblock %}

{% block script %}
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;
        
        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    var del = document.querySelector(".delete-button");
                    content.style.display = "block";
                }
            });
        }
    </script>
{% endblock %}